{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
New_Base
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form action="{{ url_for('/') }}" method="POST">
            {{ wtf.quick_form(form) }}
        </form>
<!--    <div>-->

<!--        <form action="{{url_for('login')}}" method="POST">-->
<!--            <h2>-->
<!--                This is a new form type-->
<!--            </h2>-->
<!--            {{form.crsf_token }}-->
<!--            {{ wtf.form_field(form.email) }}-->
<!--            {{ wtf.form_field(form.password) }}-->
<!--            <p>-->
<!--                {{ wtf.form_field(form.submit) }}-->
<!--            </p>-->


<!--        </form>-->

<!--    </div>-->
<!--        <p class="space-above"><a href="{{ url_for('login') }}"> Log in again</a></p>-->
<!--    </div>-->
{% endblock %}